{% extends 'layout.html' %}

{% block body %}
       <h1>About me</h1> 
       <p>This is what I love, and can't stop loving! I'm told to enjoy every moment, every hour, every minute.</p>
{% endblock %}

