{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
       <h1>Welcome to List2flask</h1> 
       <p class="lead">This app has been written using python flask framework - exercise practice by Presley Lacharmante (freely distributable)</p>
       <p class="lead">using local data, using mysql and using postgresql</p>
    </div>
{% endblock %}

