{% extends 'layout.html' %}

{% block body %}
      <h1>My Items</h1>  

      <ul class="list-group">
      {% for stuff in stuffs %}
            <li class="list-group-item">
                <a href="stuff/{{stuff.id}}">{{stuff.item}}</a>
            </li>
      {% endfor %}
      </ul>
{% endblock %}

