{% extends 'layout.html' %}

<div class="jumbotron text-center">
{% block body %}
<div class="jumbotron text-center">
       <h1>{{id}}</h1>
       <p class="lead">{{i['item']}}</p>
       <p class="lead">{{i['details']}}</p>
{% endblock %}
</div>